$white: #ffffff;
$milk: #dfdfdf;
$coal: #333333;
$text-color: #ebe7fa;
$eggplant: #17093c;
$aqua: #78cad2;
$green: #a2ccb6;
$light-peach: #615c58;
$peach: #ee786e;
$sand: #fceeb5;
$white: #fff;
$dark-purple: #34167C;
$light-purple: #201e23;
$pink: #DC47DE;
$light-aqua: #D9F0F2;
$aqua-purple: #4d4d54;
$green: #82D177;
$red: #E03737;
$purple: #af3acc;
$heavy-purple: #1D1B1E;
$secondary: #292b2c;
$silver: #C0C0C0;
$light: #F1F0F8;
$purple-bg: #DED8F2;
$horny-eggplant: #6332df;
$dark-blue: #18093c;
$heavy-aqua: #b0fcf0;
$gray: #808080;
$long-txt: #4a4a4a;
$light-gray: #f4f3ef;
$navy-blue: #2e214f;
$navy-purple: #5C318B;
$light-eggplant: #C2AEF3;
$light-peach: #FED0D1;
$light-green: #CBE8EE;
$light-bg-msg: #E4DBFA;
$horny-bg-msg: #C5AEF6;
$body-bg: #fafafa;
$on-white: #fefffc;
.eggplant {
    color: $eggplant !important;
}
.eggplant-light {
    color: $horny-eggplant !important;
}
.cyan {
    color: #9ed6d3 !important;
}
.aqua {
    color: $aqua;
}
.bg-milk {
    background-color: $milk !important;
}
.bg-dark-blue {
    background-color: $dark-blue !important;
}
.bg-horny-eggplant {
    background-color: $horny-eggplant !important;
}
.bg-navy-eggplant {
    background-color: $navy-purple;
}
.bg-green {
    background-color: $green !important;
}
.bg-peach {
    background-color: $peach !important;
}
.bg-light-eggplant {
    background-color: $light-eggplant !important;
}
.bg-light-green {
    background-color: $light-green !important;
}
.bg-light-peach {
    background-color: $light-peach !important;
}
.alert-light {
    color: #7d7d81 !important;
}
.text-green {
    color: $green;
}

.text-gray {
    color: #444444 !important;
}