$white: #ffffff;
$text-color: #ebe7fa;
$eggplant: #17093c;
$aqua: #78cad2;
$green: #a2ccb6;
$light-peach: #ffecd9;
$peach: #ee786e;
$sand: #fceeb5;
$white: #fff;
$dark-purple: #34167C;
$light-purple: #C3AFF1;
$pink: #DC47DE;
$light-aqua: #D9F0F2;
$aqua-purple: #777DD1;
.cyan {
    color: #9ed6d3 !important;
}
$green: #82D177;
$red: #E03737;
$purple: #af3acc;
$heavy-purple: #1D1B1E;
$secondary: #292b2c;
$silver: #C0C0C0;