.section, .title-section {
    float: left;
}

.title-section {
    display: flex;
    justify-content: center;
    .title-container {
        display: flex;
        flex-direction: column;
        .title-text {
            display: inline-block;
            margin: 0 15px;
            margin-bottom: 10px;
            padding: 5px;
            width: max-content;
            min-width: 170px;
            background-image: url(/images/title-background.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
        }
        .title-underline {
            height: 2px;
            border-radius: 4px;
            background-color: #010101;
        }
    }
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.about-section {
    background-image: linear-gradient(to left, #ac7ff4, #8f60ec, #6232de);
    // height: fit-content;
    > div {
        min-height: 300px;
        height: auto;
        background-image: url(/images/shaped-background.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        > div {
            height: 100%;
            float: left;
            text-align: center;
            p {
                color: $white;
            }
        }
        // background-attachment: fixed;
    }
}

.badge.eggplant, .btn.eggplant {
    border: 2px solid $eggplant;
    background: transparent;
    color: $eggplant;
    font-size: 18px;
    font-weight: 100;
    &:hover, &.active {
        background-color: $eggplant;
        color: $white;
    }
}


.tab-element {
    ul.tabs-container {
        display: flex;
        justify-content: center;
        li {
            margin: 0px 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .tab-contents .tab-content {
        display: none;
        transition: 0.3s;
        opacity: 0;
    }
    .tab-contents .tab-content.active {
        display: block;
        animation: ease 0.3s fadeIn;
        opacity: 1;
    }
    .tab-content p {
        text-align: justify;
        color: $eggplant;
    }
}
.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    .service-container {
        .service-item {
            h1 {
                font-size: 22px;
                font-weight: bold;
                margin-top: 14px;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 18px;
            }
            button {
                background: linear-gradient(to right, $aqua 0%, $light-aqua 50%, $aqua-purple 100%);
                background: -webkit-gradient(to right, $aqua 0%, $light-aqua 50%, $aqua-purple 100%);
            }
        }
    }
}

.btn-gradient {
    -webkit-appearance: none;
    background-size: 500% !important;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: #000;
    cursor: pointer;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        animation-name: gradient;
        -webkit-animation-name: gradient;
        animation-duration: 1.3s;
        -webkit-animation-duration: 1.3s;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}

span.back-aqua {
    background-image: url(/images/item-background.png);
    font-size: 60px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
    width: 34%;
    i {
        font-size: 55px;
    }
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    > div {
        height: 100%;
        border: 2px solid $aqua;
        background-image: url(/images/contact-background.svg);
        background-position: center;
        background-size: cover;
        span {
            margin-bottom: 15px;
        }
        h4 {
            font-size: 22px;
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
        button {
            background: linear-gradient(to right, $light-aqua 0%, $aqua 50%, #9177D1 100%);
            background: -webkit-gradient(to right, $light-aqua 0%, $aqua 50%, #9177D1 100%);
            display: block;
            margin: 0px auto 5px auto;
        }
        .mt-12-p {
            margin-top: 12%;
        }
    }
}

.order-section {
    display: flex;
    justify-content: center;
    .order-detail {
        button {
            background-color: $purple;
        }
        h3 {
            font-size: 22px;
            font-weight: bold;
        }
        h4 {
            font-size: 18px;
        }
        i.check {
            color: $green
        }
        i.times {
            color: $red;
        }
        h4 {
            direction: ltr;
        }
        span {
            margin-left: 4px;
        }
    }
    .order-vector {
        width: 30%;
        height: 350px;
        .top--25p {
            position: relative;
            top: -25%;
            img {
                width: 90% !important;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.ml-6p {
    margin-left: 6%;
}