.section, .title-section {
    float: left;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.relative {
    position: relative !important;
}

.title-section {
    display: flex;
    justify-content: center;
    .title-container {
        display: flex;
        flex-direction: column;
        .title-text {
            display: inline-block;
            margin: 0 15px;
            margin-bottom: 10px;
            padding: 5px;
            width: max-content;
            min-width: 170px;
            background-image: url(/images/title-background.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
        }
        .title-underline {
            height: 2px;
            border-radius: 4px;
            background-color: #010101;
        }
    }
}

.dotted-background {
    background-image: url(/images/dots-background.png);
    background-size: 40%;
    background-repeat: repeat-x;
}

.about-section {
    background-image: linear-gradient(to left, #ac7ff4, #8f60ec, #6232de);
    // height: fit-content;
    > div {
        min-height: 300px;
        height: auto;
        background-image: url(/images/shaped-background.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        > div {
            height: 100%;
            float: left;
            text-align: center;
            img {
                width: auto;
                height: auto;
                max-height: 200px;
                max-width: 100%;
            }
            p {
                color: $white;
            }
        }
        > div.image-box {
            display: flex;
            min-height: inherit;
            align-items: center;
            justify-content: center;
        }
    }
}

.badge.eggplant, .btn.eggplant {
    border: 2px solid $eggplant;
    background: transparent;
    color: $eggplant;
    font-size: 18px;
    font-weight: 100;
    &:hover, &.active {
        background-color: $eggplant;
        color: $white !important;
    }
}

input.eggplant {
    // border: 4px 2px;
    border: 4px solid $horny-eggplant;
    border-left: 0px;
    &:focus {
        border-color: $horny-eggplant;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(99, 50, 223, 0.25);
    }
}


.tab-element {
    ul.tabs-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            margin: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .tab-contents .tab-content {
        display: none;
        transition: 0.3s;
        opacity: 0;
    }
    .tab-contents .tab-content.active {
        display: block;
        animation: ease 0.3s fadeIn;
        opacity: 1;
    }
    .tab-content p {
        text-align: justify;
        color: $eggplant;
    }
}
.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    .service-container {
        .service-item {
            h1 {
                font-size: 22px;
                font-weight: bold;
                margin-top: 14px;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 18px;
            }
            button {
                background: linear-gradient(to right, $aqua 0%, $light-aqua 50%, $aqua-purple 100%);
                background: -webkit-gradient(to right, $aqua 0%, $light-aqua 50%, $aqua-purple 100%);
            }
        }
    }
}

.btn-gradient {
    -webkit-appearance: none;
    background-size: 500% !important;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: #000;
    cursor: pointer;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        animation-name: gradient;
        -webkit-animation-name: gradient;
        animation-duration: 1.3s;
        -webkit-animation-duration: 1.3s;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}

span.back-aqua {
    background-image: url(/images/item-background.png);
    font-size: 60px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
    width: 34%;
    i {
        font-size: 55px;
    }
}

.order-section-container {
    div.background-order {
        float: left;
        background-image: url(/images/dots-background.png);
        background-size: contain;
        background-repeat: repeat;
    }
    .order-section {
        display: flex;
        justify-content: center;
        .order-detail {
            margin-top: auto;
            margin-bottom: auto;
            button {
                background-color: $purple;
            }
            h3 {
                font-size: 35px;
                font-weight: bold;
            }
            h4 {
                font-size: 25px;
            }
            i.check {
                color: $green
            }
            i.times {
                color: $red;
            }
            h4 {
                direction: ltr;
            }
            span {
                margin-left: 8px;
            }
        }
        .order-vector {
            width: 40%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

//contact daya
.contact-section {
    position: relative;
    div.back-aqua {
        position: absolute;
        top: -12%;
        min-height: 200px;
        height: auto;
        background: linear-gradient(45deg, rgba(217, 240, 242, 0.3) 0%, rgba(120, 202, 210, 0.3) 100%);
        background: -webkit-gradient(45deg, rgba(217, 240, 242, 0.3) 0%, rgba(120, 202, 210, 0.3) 100%);
    }
    .contact-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        > div {
            height: fit-content;
            border: 2px solid $aqua;
            background-image: url(/images/contact-background.png);
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            span {
                margin-bottom: 15px;
            }
            h4 {
                font-size: 22px;
                font-weight: bold;
            }
            p {
                font-size: 16px;
            }
            button {
                background: linear-gradient(to right, $light-aqua 0%, $aqua 50%, #9177D1 100%);
                background: -webkit-gradient(to right, $light-aqua 0%, $aqua 50%, #9177D1 100%);
                display: block;
                margin: 0px auto 5px auto;
            }
            .mt-12-p {
                margin-top: 12%;
            }
        }
    }
}
.absolute-contact {
    // position: absolute;
}
//end contact daya

.portfolio-section {
    .portfolio {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
        .portfolio-avatar {
            float: left;
            width: 100%;
            overflow: hidden;
            height: fit-content;
            > img {
                transition: 0.3s;
                width: 100%;
                height: auto;
            }
        }
        .portfolio-detail {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            padding: 15px 20px;
            padding-top: 25px;
            p {
                float: left;
                width: 100%;
                color: $white;
                text-align: center;
                margin-bottom: 5px;
            }
            ul {
                text-align: right;
                color: $white;
                float: left;
                width: 100%;
                margin: 0px;
                padding: 0px 20px;
            }
        }
        &:hover {
            .portfolio-avatar img {
                transition: 0.3s;
                transform: scale(1.1);
                filter: grayscale(1) blur(4px);
            }
            .portfolio-detail {
                display: block;
                animation: linear 0.5s fadeIn;
                opacity: 1;
                background-color: rgba(23, 9, 60, 0.5);
                
            }
        }
    }
}

// fast-order
div.fast-order-container {
    min-height: 500px;
    height: auto;
    .fast-order-section {
        .fast-order-form {
            height: 100%;
            padding: 10px;
            box-shadow: 4px 4px 15px 2px #dcdcdc;
            border-radius: 5px;
            padding: 30px 10px;
            button {
                background-color: $aqua-purple;
                color: #fff;
                &:hover {
                    background-color: $dark-purple;
                }
            }
            input, textarea {
                text-align: right;
            }
            div.order-types {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                .checkbox-input {
                    clip: rect(0 0 0 0);
                    -webkit-clip-path: inset(100%);
                            clip-path: inset(100%);
                    height: 1px;
                    overflow: hidden;
                    position: absolute;
                    white-space: nowrap;
                    width: 1px;
                }
                .checkbox-tile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 7rem;
                    min-height: 7rem;
                    border-radius: 0.5rem;
                    border: 2px solid #b5bfd9;
                    background-color: #fff;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    transition: 0.15s ease;
                    cursor: pointer;
                    position: relative;
                }
                .checkbox-tile:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 1.25rem;
                    height: 1.25rem;
                    border: 2px solid #b5bfd9;
                    background-color: #fff;
                    border-radius: 50%;
                    top: 0.25rem;
                    left: 0.25rem;
                    opacity: 0;
                    transform: scale(0);
                    transition: 0.25s ease;
                    background-image: url("/images/check-tile.svg");
                    background-size: 12px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
                .checkbox-tile:hover {
                    border-color: #2260ff;
                }
                .checkbox-tile:hover:before {
                    transform: scale(1);
                    opacity: 1;
                }
                .checkbox-icon {
                    transition: 0.375s ease;
                    color: #494949;
                    margin-bottom: 5px;
                }
                .checkbox-icon svg, img {
                    width: 3rem;
                    height: 3rem;
                }
                .checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
                    color: #2260ff;
                }
                .checkbox-input:checked + .checkbox-tile {
                    border-color: #2260ff;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    color: #2260ff;
                }
                .checkbox-input:checked + .checkbox-tile:before {
                    transform: scale(1);
                    opacity: 1;
                    background-color: #2260ff;
                    border-color: #2260ff;
                }
                .checkbox-input:focus + .checkbox-tile {
                    border-color: #2260ff;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
                }
                .checkbox-input:focus + .checkbox-tile:before {
                    transform: scale(1);
                    opacity: 1;
                }
                .checkbox-label {
                    color: #707070;
                    transition: 0.375s ease;
                    text-align: center;
                }
            }
        }
        div.fast-order-guide {
            height: 100%;
            h3, h5, p, li, ul {
                text-align: right;
                direction: rtl;
            }
            h3 {
                font-size: 30px;
                font-weight: bold;
            }
            ul {
                list-style-type: decimal;
            }
        }
    }
}
.font-20 {
    font-size: 20px;
    >li {
        font-size: 20px;
    }
}
.font-18 {
    font-size: 18px;
}
.font-16 {
    font-size: 16px;
}
.silver {
    color: $silver;
}
// end-fast-order

// daya blog
.blog-posts-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .blog-post {
        position: relative;
        margin: 30px 5px 30px 5px;
        a {
            cursor: pointer;
            &:hover {
                img {
                    filter: grayscale(100%);
                    // opacity: 0.5;
                }
                p.blog-post-description {
                    // color: #2260ff !important;
                }
                h3 {
                    color: #6232de;
                }
            }
        }
        h3, p, span {
            text-align: center;
        }
        h3 {
            color: $coal;
            font-weight: bold;
            margin-top: 5px;
            transition: 0.3s ease-in;
        }
        p.blog-post-source {
            color: $secondary;
            font-size: 13px;
            margin: 10px 10px 10px 0px;
        }
        p.blog-post-description {
            font-size: 12px;
            transition: 0.3s ease-in-out;
            text-align: right;
        }
        span {
            font-size: 14px;
            border-radius: 8px;
            background-color: $eggplant;
            color: #fff;
            position: absolute;
            padding: 5px 0px 5px 0px;
            bottom: -8%;
            right: 10%;
            width: 50px;
            height: 50px;
        }
        .img-container {
            position: relative;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            > img {
                position: absolute;
                top: 0;
                left: 0;
                left: 0;
                right: 0;
                object-fit: cover;
                object-position: center;
                opacity: 1;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                -webkit-transition: 0.3s ease-in-out;
                border-radius: 6px;
            }
            &::after {
                content: "";
                display: block;
                padding-bottom: 80%;
            }
        }
    }
}
// end daya blog


// ABOUT US
.advantage-section {
    background-image: linear-gradient(to right,#d0b6f8, #a184ec);
    min-height: 400px;
    height: fit-content;
    .advantage-box {
        padding: 30px 20px;
        > .title {
            border-right: 5px solid $white;
            padding: 10px 15px;
        }
        ul.advantages {
            padding: 10px 0px;
            list-style: none;
            li {
                display: block;
                float: right;
                width: 100%;
                padding: 10px 0;
                a > i, a > div {
                    float: right;
                    color: $white;
                }
                i.avatar {
                    border: 2px solid $white;
                    padding: 20px 0px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 40px;
                    width: 80px;
                    height: 80px;
                    transition: 0.3s;
                }
                a:hover {
                    i.avatar {
                        transition: 0.3s;
                        background-color: $white;
                        color: $eggplant;
                    }
                }
                div.description {
                    margin-right: 15px;
                }
            }
        }
    }
    img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        // position: absolute;
    }
}
// end About us

// contact us page
div.contact-us-first-section {
    position: relative;
    div.contact-us-background {
        position: relative;
        div.background-left {
            position: relative;
            top: 0;
            width: 60%;
            img {
                width: 100%;
                height: auto;
            }
        }
        div.background-right {
            position: absolute;
            top: 6%;
            right: 8%;
            width: 34%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    div.contact-us-vector-1 {
        position: absolute;
        top: 11%;
        img {
            width: 100%;
            height: auto;
        }
    }
    div.contact-us-form {
        position: absolute;
        top: 22%;
        right: 2%;
        h4 {
          text-align: right;  
          float: right;
          font-size: 32px;
          font-weight: bold;
        }
        input, textarea {
            font-size: 20px;
            background-color: #EAECFA;
        }
        textarea {
            height: 200px;
            max-height: 100%;
        }
        button {
            min-width: 20%;
            font-size: 18px;
            &:hover {
                background-color: $eggplant;
            }
        }
    }
}
div.contact-us-section-2 {
    background-image: url("/images/dots-background.png");
    background-size: contain;
    background-repeat: repeat;
    .title-text {
        font-size: 35px !important;
    }
    div.contact-ways-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        > div {
            background-color: $light;
            box-shadow: 4px 4px 15px 2px #dcdcdc;
            height: 420px;
            i.contact-way-icon {
                font-size: 70px;
                color: #000;
            }
            div.address-label {
                background-color: $purple-bg;
                border-radius: 8px;
                height: 50px;
                i.label-icon {
                    font-size: 35px;
                    color: #000;
                }
                span {
                    color: #000;
                }
                h3 {
                    color: #000;
                    font-size: 24px;
                    direction: ltr;
                }
            }
        }
    }
}
// end contact us page
@import './elements/timeline';
@import './elements/searchbox';
@import 'footer';

// terms of service
.bold {
    font-weight: bold;
}
div.daya-duties {
    .duty-item {
        margin-bottom: 25px;
        p {
            color: #000;
            font-size: 18px;
            text-align: right;
            margin-bottom: 0 !important;
        }
    }
    .duty-vector-text {
        .customer-vector {
            height: 400px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .privacy-vector {
            position: relative;
            top: 20px;
        }
    }
}
// FAQ Accordion
.FAQ-section {
    background: linear-gradient(135deg, #a77cf2 #8f4eff);
    background: -webkit-linear-gradient(135deg, #a77cf2, #8f4eff);
    border-right: 2px solid #18093c;
    h4.faq-title {
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }
    .accordion-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        div.item-wrapper {
            margin-bottom: 30px;
            div.question-wrapper {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                background-color: $eggplant;
                border-radius: 8px;
                padding: 8px;
                h4 {
                    color: #fff;
                    font-size: 20px;
                    display: inline;
                    margin-bottom: 0;
                    letter-spacing: -1px;
                }
                span {
                    cursor: pointer;
                    i {
                        color: #fff;
                        font-size: 16px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
            .answer {
                text-align: right;
                color: #fff;
                font-size: 18px;
                margin-top: 10px;
            }
            ul.answer {
                list-style-type: decimal;
            }
        }
    }
}
// end FAQ Accordion
// end terms of service

// circular progreess bar 
.progress-bar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    .progress-bar-container {
        text-align: center;
        margin-bottom: 30px;
        span {
            color: #000;
            font-size: 22px;
        }
    }
}
$configs: (
	chart-two: (
		svgSize: 170px,
		percentage: 50,
		strokeWidth: 15px,
		backgroundColor: $dark-purple,
		foregroundColor: $aqua-purple,
		labelColor: #000,
		labelFontSize: 2.5rem,
		duration: 3s,
		animationDelay: 1s
	),
);

$pi: 3.14;
$labelData: '';
@for $i from 0 to 101 {
	$labelData: $labelData + $i + '%' + '\a';
}

@each $chart, $param in $configs {
	
	$c: (map-get($param, svgSize) - map-get($param, strokeWidth)) * $pi;
	$cOffSet: (map-get($param, percentage)/100)*$c;
	
	.#{$chart} {
		width: map-get($param, svgSize);
		height: map-get($param, svgSize);
		margin-bottom: 15px;
		position: relative;
        margin-left: auto;
        margin-right: auto;
		
		&.animate {
			svg .circle-foreground {
				animation: offset map-get($param, duration) ease-in-out forwards;
				animation-delay: map-get($param, animationDelay);
			}
			figcaption:after {
				animation: #{$chart}-label map-get($param, duration) steps(map-get($param, percentage)) forwards;
				animation-delay: map-get($param, animationDelay);
			}
		}

		svg {
			width: 100%;
			height: 100%;
			.circle-background {
				r: (map-get($param, svgSize) - map-get($param, strokeWidth))/2;
				cx: 50%;
				cy: 50%;
				fill: none;
				stroke: map-get($param, backgroundColor);
				stroke-width: map-get($param, strokeWidth);
			}
			.circle-foreground {
				@extend .circle-background;
				stroke: map-get($param, foregroundColor);
				stroke-dasharray: $cOffSet $c;
				stroke-dashoffset: $cOffSet;
				stroke-linecap: round;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
			}
		}
		figcaption {
			display: inline-block;
			width: 100%;
			height: map-get($param, labelFontSize);
			overflow: hidden;
			text-align: center;
			color: map-get($param, labelColor);
			position: absolute;
			top: calc(50% - #{map-get($param, labelFontSize)/2});
			left: 0;
			font-size: 0;
			&:after {
				display: inline-block;
				content: $labelData;
				white-space: pre;
				font-size: map-get($param, labelFontSize);
				line-height: map-get($param, labelFontSize);
			}
		}
	}
	@keyframes #{$chart}-label {
		100% {
			transform: translateY(map-get($param, labelFontSize) * (-(map-get($param, percentage))));
		}
	}
}
@keyframes offset {
	100% {
		stroke-dashoffset: 0;
	}
}
// end circular progress bar