// fontawesome
// @import url(../fonts/fontawesome/css/all.min.css);
// custom fonts
@font-face {
    font-family: 'IranSansWeb';
    src: url(/fonts/IRANSansWeb.ttf) format("truetype");
}

$iran-sans: "IranSansWeb";