.header {
    height: 600px;
    background: linear-gradient(50deg, #ffffff 0 26%,#a77cf2 26.09%, #6332de) border-box;
}
.min-header {
    background: linear-gradient(to right, #a77cf2, #6332de);
}
.header, .min-header {
    direction: rtl;
    width: 100%;
    float: left;
    > nav {
        float: right;
        width: 100%;
        padding-left: 50px;
        height: 70px;
        position: relative;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        > .logo-container {
            width: 70px;
            height: 100%;
            float: right;
            text-align: center;
            > img {
                width: auto;
                height: 100%;
                padding: 5px;
            }
        }
        ul.main-menu {
            width: calc(90% - 70px);
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            padding-right: 10px !important;
            justify-content: flex-start;
            li {
                position: relative;
                list-style: none;
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
                padding-top: 10px;
                margin: 0 10px;
                > a {
                    width: 100%;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    font-size: 18px;
                    height: 100%;
                    margin-top: 2px;
                    color: $text-color;
                    transition: 0.3s;
                    border-bottom: 2px solid transparent;
                }
                > a:hover {
                    border-color: #78cad2;
                    transition: 0.3s;
                }
            }
            ul.submenu {
                position: absolute;
                width: max-content;
                transition: 0.3s;
                display: none;
                opacity: 0;
                top: 100%;
                z-index: 6;
                background-color: rgba(255,255,255,0.9);
                padding: 0px 10px;
                border-radius: 0 0 5px 5px;
                li {
                    display: block;
                    padding-top: 0px;
                    margin: 2px 0px;
                    width: fit-content;
                    > a {
                        color: #4e27b1;
                        margin: 4px 0px;
                        // text-align: right;
                        // width: fit-content;
                    }
                }
            }
            li:hover {
                > ul.submenu {
                    display: block;
                    animation: linear 0.3s fadeIn;
                    opacity: 1;
                }
            }
        }
        .last-item {
            position: absolute;
            left: 8%;
            top: 0px;
            height: 100%;
            padding-top: 15px;
            display: flex;
            justify-items: flex-end;
            .btn-white, button {
                font-size: 16px;
                height: fit-content;
            }
            a.white-button {
                border: 2px solid #ffffff;
                padding: 4px 10px;
                text-align: center;
                float: right;
                font-size: 16px;
                border-radius: 16px;
            }
        }
    }
}

.min-header .last-item {
    left: 3% !important;
}

div.header-section {
    width: 100%;
    float: left;
    div.header-vector {
        float: left;
        width: 50%;
        height: 530px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 8;
        }
        .triangle {
            width: 50%;
            height: 0;
            padding-bottom: 50%;
            background: linear-gradient(45deg, #F9E7E7 0% 50%, rgba(62, 34, 34, 0) 50% 100%);
            position: absolute;
            left: 0%;
            bottom: 0%;
            z-index: 5;
        }
    }
    div.header-text {
        float: right;
        width: 50%;
        height: 100%;
        h1 {
            color: #ffffff;
            font-size: 30px;
        }
        h1 span {
            color: $aqua;
        }
        p {
            color: #ffffff;
            font-size: 20px;
            line-height: 65px;
            line-clamp: 5;
        }
        div.header-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .aqua {
                background: -webkit-gradient(to right, $aqua 0%, $sand 50%, $peach 100%);
                background: linear-gradient(to right, $aqua 0%, $sand 50%, $peach 100%);
            }
            .purple {
                background: -webkit-gradient(to right, $dark-purple 0%, $light-purple 50%, $pink 100%);
                background: linear-gradient(to right, $dark-purple 0%, $light-purple 50%, $pink 100%);
            }
        }
    }
}