.header {
    background: linear-gradient(50deg, #e77cf2, #6332de);
    background: -webkit-linear-gradient(50deg, #e77cf2, #6332de);
    @media screen and (min-width: $md-breakpoint) {
        background: linear-gradient(50deg, #ffffff 0 26%,#a77cf2 26.09%, #6332de);
        background: -webkit-linear-gradient(50deg, #ffffff 0 26%,#a77cf2 26.09%, #6332de);
    }
    min-height: 600px;
}

.min-header {
    background: linear-gradient(to right, #a77cf2, #6332de);
    background: -webkit-linear-gradient(to right, #a77cf2, #6332de);
}

.header, .min-header {
    direction: rtl;
    width: 100%;
    float: left;
    > nav {
        float: right;
        width: 100%;
        padding-left: 50px;
        height: 70px;
        position: relative;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        > .logo-container {
            width: 70px;
            height: 100%;
            float: right;
            text-align: center;
            > img {
                width: auto;
                height: 100%;
                padding: 5px;
            }
        }
        ul.main-menu {
            width: calc(90% - 70px);
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            padding-right: 10px !important;
            justify-content: flex-start;
            li {
                position: relative;
                list-style: none;
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
                padding-top: 10px;
                margin: 0 10px;
                > a {
                    width: 100%;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    font-size: 18px;
                    height: 100%;
                    margin-top: 2px;
                    color: $text-color;
                    transition: 0.3s;
                    border-bottom: 2px solid transparent;
                }
                > a:hover {
                    border-color: #78cad2;
                    transition: 0.3s;
                }
            }
            ul.submenu {
                position: absolute;
                width: max-content;
                transition: 0.3s;
                display: none;
                opacity: 0;
                top: 100%;
                z-index: 99;
                background-color: rgba(255,255,255,0.9);
                padding: 0px 10px;
                border-radius: 0 0 5px 5px;
                li {
                    display: block;
                    padding-top: 0px;
                    margin: 2px 0px;
                    width: fit-content;
                    > a {
                        color: #4e27b1;
                        margin: 4px 0px;
                        // text-align: right;
                        // width: fit-content;
                    }
                }
            }
            li:hover {
                > ul.submenu {
                    display: block;
                    animation: linear 0.3s fadeIn;
                    opacity: 1;
                }
            }
        }
        span.d-md-none {
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            i {
                color: #ffffff !important;
                cursor: pointer;
                font-size: 35px;
            }
        }
        .last-item {
            position: absolute;
            left: 8%;
            top: 0px;
            height: 100%;
            padding-top: 15px;
            display: flex;
            justify-items: flex-end;
            .btn-white, button {
                font-size: 16px;
                height: fit-content;
            }
            a.white-button {
                border: 2px solid #ffffff;
                padding: 4px 10px;
                text-align: center;
                float: right;
                font-size: 16px;
                border-radius: 16px;
            }
        }
    }
}

.min-header .last-item {
    left: 3% !important;
}

div.header-section {
    width: 100%;
    float: left;
    @media screen and (max-width: $md-breakpoint) {
        div.header-vector {
            height: auto !important;
        }
    }
    .triangle {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
        background: linear-gradient(45deg, #F9E7E7 0% 50%, rgba(62, 34, 34, 0) 50% 100%);
        background: -webkit-linear-gradient(45deg, #F9E7E7 0% 50%, rgba(62, 34, 34, 0) 50% 100%);
        position: absolute;
        left: 0%;
        bottom: 0%;
        z-index: 5;
    }
    div.header-vector {
        float: left;
        height: 530px;
        position: relative;
        z-index: 8;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 8;
        }
    }
    div.header-text {
        float: right;
        height: 100%;
        @media screen and (max-width: $md-breakpoint) {
            h1, h2 {
                font-size: 26px !important;
            }
            p {
                font-size: 18px !important;
            }
        }
        h1, h2 {
            color: #ffffff;
            border-right: 4px solid $aqua;
            padding: 5px 10px;
            font-size: 30px;
        }
        h1 span, h2 a, p a {
            color: $aqua;
        }
        p {
            color: #ffffff;
            font-size: 18px;
            line-height: 3;
            span {
                border-left: 4px solid $aqua;
                display: inline-block;
                height: 100%;
            }
        }
        div.header-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .bg-aqua {
                background: -webkit-gradient(to right, $aqua 0%, $sand 50%, $peach 100%);
                background: linear-gradient(to right, $aqua 0%, $sand 50%, $peach 100%);
            }
            .bg-purple {
                background: -webkit-gradient(to right, $dark-purple 0%, $light-purple 50%, $pink 100%);
                background: linear-gradient(to right, $dark-purple 0%, $light-purple 50%, $pink 100%);
            }
        }
    }
    div.header-title {
        display: flex;
        align-items: center;
        .title {
            font-size: 84px;
            color: $aqua;
            text-shadow: none;
            span {
                color: $peach;
            }
        }
    }
}

.policy-header, .service-benefits-section {
    position: relative;
    .triangle {
        width: 20% !important;
        height: 100% !important;
        padding-bottom: 0 !important;
        background: linear-gradient(to top right, rgba(249, 231, 231, 0.8) 0% 50%, rgba(62, 34, 34, 0) 50% 100%) !important;
        background: -webkit-linear-gradient(to top right, rgba(249, 231, 231, 0.8) 0% 50%, rgba(62, 34, 34, 0) 50% 100%) !important;
    }
    .header-vector {
        height: auto;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        img.ruels {
            position: relative !important;
            z-index: 6;
        }
        img.rules-back {
            position: absolute !important;
            z-index: 4;
            opacity: 0.6;
            top: 0;
            right: 0;
        }
    }
}