html, body, #main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    background-color: $body-bg;
}

h1,h2,h3,h4,h5,h6,p,span,button, a, ul, li, input, textarea, blockquote, label {
    // font-family: $iran-sans;
    direction: rtl;
}
div {
    // font-family: $iran-sans;
}

blockquote {
    font-style: italic;
}

cite {
    font-weight: bold;
}

cite::before {
    content: '-';
    // font-family: $iran-sans;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

p {
    font-size: 18px;
    line-height: 2;
}

.text-small {
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

.rtl {
    direction: rtl !important;
}
.ltr {
    direction: ltr !important;
}


.title {
    font-size: 24px;
    font-weight: bold;
}

.title-big {
    font-size: 32px;
}

.title-bigger {
    font-size: 36px;
}

.description {
    font-size: 16px;
}

.form-control {
    resize: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 25% {
        opacity: 0.25;
    } 50% {
        opacity: 0.5;
    } 75% {
        opacity: 0.75;
    } 100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes regradient {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

@keyframes button-handler-move {
    0% {
        right: -2px;
    } 100% {
        right: calc(100% - 44px);
    }
}

@keyframes rotate180 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes rotate-180 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-180deg);
    }
}

@keyframes width-change {
    0% {
        width: 36%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 36%;
    }
}

.centered-by-translate {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.d-contents {
    display: contents;
}

.form-control.input-err {
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.hoverable {
    cursor: pointer;
}

#zarinpal {
    display: inline-block;
    img {
        width: 40px;
    }
}

// lazysizes lazyloading
.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 300ms;
	background: url(/images/spinner.gif) no-repeat center;
    background-size: 50px 50px;
}