
$text-color: #ebe7fa;
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
}


h1,h2,h3,h4,h5,h6,p,span,button, a {
    font-family: $iran-sans;
}

a:hover {
    text-decoration: none;
}

.header {
    background: linear-gradient(60deg, #ffffff 0 30%,#9A6DEE 30.09%, #6734E3) border-box;
    direction: rtl;
    width: 100%;
    float: left;
    height: 600px;
    > nav {
        float: right;
        width: 85%;
        height: 70px;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        > .logo-container {
            width: 70px;
            height: 100%;
            float: right;
            text-align: center;
            > img {
                width: auto;
                height: 100%;
                
            }
        }
        ul.main-menu {
            width: calc(90% - 70px);
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            padding-right: 10px !important;
            justify-content: space-around;
            li {
                list-style: none;
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
                padding-top: 15px;
                margin: 0 10px;
                > a {
                    width: 100%;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    font-size: 18px;
                    height: 100%;
                    margin-top: 2px;
                    color: $text-color;
                    transition: 0.3s;
                    border-bottom: 2px solid transparent;
                }
                > a:hover {
                    border-color: #78cad2;
                    transition: 0.3s;
                }
            }
            > li:last-child {
                margin-left: 5px;
                display: flex;
                justify-items: flex-end;
                .btn-white, button {
                    font-size: 16px;
                    height: fit-content;
                }
                // height: 100%;
            }
        }
        // .last-item {
        //     width: 18%;
        //     height: 100%;
        //     padding: 10px;
        //     float: left;
        //     box-sizing: border-box;
        //     // display: flex;
        //     background-color: purple;
        //     a.white-button {
        //         border: 2px solid #ffffff;
        //         padding: 4px 10px;
        //         text-align: center;
        //         float: right;
        //         font-size: 16px;
        //         border-radius: 16px;
        //     }
        // }
    }
}


.btn-white {
    border: 1px solid #ffffff !important;
    border-radius: 14px;
    padding: 5px 10px !important;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: #ffffff;
        color: #a87df2 !important;
    }
}

button {
    > i {
        margin-top: 5px;
    }
    i.fa-phone {
        transform: rotate(90deg);
    }
}

.btn-phone {
    border-radius: 50%;
    width: 50px;
}