@import 'requirements';
@import 'elements';
@import 'header';

.btn-white {
    border: 1px solid #ffffff !important;
    border-radius: 16px;
    padding: 5px 10px !important;
    transition: 0.3s;
    color: $text-color;
    &:hover {
        transition: 0.3s;
        background-color: #ffffff;
        color: #a87df2 !important;
    }
}

button {
    > i {
        margin-top: 5px;
    }
    i.fa-phone {
        transform: rotate(90deg);
    }
}

.btn-phone {
    border-radius: 100%;
    border: none;
    &:hover {
        box-shadow: 0 0 2px 1px #333;
    }
    i {
        padding: 5px;
    }
}