.user-area-layout-container {
    width: 100%;
    height: auto;
    float: left;
    background-color: #f6f6f6;
    .top-background {
        width: 100%;
        height: 200px;
        background: linear-gradient(to right bottom, #ac7ff4, #8f60ec);
        background: -webkit-linear-gradient(to right bottom, #ac7ff4, #8f60ec);
        i {
            transition: 0.5s;
        }
        .op-0 {
            opacity: 0;
        }
    }
    .user-area-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        height: 650px;
        margin-top: -100px;    
        padding: 0 10px 0 10px;    
        > div {
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 2px 4px 3px 0 rgb(0 0 0 / 10%);
        }
        .user-area-sidebar {
            width: 18%;
            padding: 20px 10px 5px 10px;
            text-align: center;
            .user-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 180px;
                .user-avatar {
                    width: 100px;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }
                p {
                    color: #000;
                    font-size: 20px;
                    margin-top: 5px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                span {
                    font-size: 15px;
                    color: $gray;
                    margin: 0;
                }
            }
            a.home-link {
                font-size: 14px;
                cursor: pointer;
                transition: 0.5s;
                color: $aqua;
                &:hover {
                    color: $horny-eggplant;
                }
            }
            ul.menu-items-container {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: right;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 0px;
                list-style-type: none;
                margin-top: 10px;
                height: calc(100% - 255px);
                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: #F5F5F5;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: linear-gradient(to bottom right, #ac7ff4, #8f60ec, #6232de);
                    background: -webkit-linear-gradient(to bottom right, #ac7ff4, #8f60ec, #6232de);
                }
                li {
                    transition: 0.5s;
                    padding: 0 10px;
                    a {
                        user-select: none;
                        padding: 20px 15px;
                        cursor: pointer;
                        font-size: 16px;
                        height: fit-content;
                        color: #8f60ec;
                        width: 100%;
                        display: inline-block;
                        font-weight: normal;
                        transition: 0.5s;
                        i {
                            font-size: 18px;
                            color: #8f60ec;
                            margin-left: 10px;
                        }
                        &:hover {
                            background-color: #f8e5ff;
                            transform: scale(1.1);
                        }
                    }
                }
                li.has-sub {
                    > a {   
                        &::after {
                            border-right: 5px solid #8f60ec;
                            border-bottom: 5px solid transparent;
                            border-top: 5px solid transparent;
                            transition: 0.5s;
                            vertical-align: middle;
                            content: "";
                            display: inline-flex;
                            margin-right: 15px;
                            transform-origin: right;
                        }
                    }
                    .submenu-m {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        text-align: right;
                        list-style-type: none;
                        overflow-y: auto;
                        display: none;
                        padding-right: 50px;
                        font: 16px !important;
                        li {
                            padding: 8px 0px;
                            backface-visibility: visible;
                            animation-name: flipInX;
                            a {
                                padding: 0;
                                transition: 0.5s;
                                &:hover {
                                color: #6232de;
                                background: none !important;
                               } 
                            }
                        }
                    }
                }
                li.has-sub.open {
                    > a {
                        &::after {
                            transform: rotateZ(-90deg);
                        }
                    }
                    .submenu-m {
                        display: flex;
                    }
                }
            }
                
        }
        .main-content-container {
            width: 78%;
            margin-right: 25px;
            padding: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            direction: rtl;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
                background-color: #fff;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #DED8F2;
            }
            // profile
            .center-table {
                display: table;
                margin-right: auto;
                margin-left: auto;
            }
            div.form-title {
                width: fit-content;
                margin-top: 20px;
                h4 {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 8px;
                    border-bottom: 2px solid #000;
                }
            }
            .fields-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
            }
            .field-item {
                direction: rtl;
                // float: right;
                margin-top: 40px;
                > span:nth-child(1) {
                    margin-right: 5px;
                    direction: rtl;
                    font-size: 16px;
                    font-weight: bold;
                }
                > div {
                    margin-top: 5px;
                }
                textarea {
                    min-height: 130px;
                    resize: none;
                }
                .state-code {
                    width: 18%;
                }
                .form-check {
                    input, label {
                        cursor: pointer;
                    }
                }
            }
            .color-picker-container {
                display: flex;
                align-items: center;
                input {
                    margin-right: 15px;    
                }
            }
            .eggplant-btn {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                div.alert {
                    margin: 0 10px 0 0;
                    span {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0 !important;
                        }
                    }
                }
                button {
                    background-color: $horny-eggplant;
                    color: white;
                    transition: 0.5s;
                    width: 100%;
                    margin-left: 10px;
                    &:hover {
                        background-color: $eggplant;
                        color: white;
                    }
                }
                padding: 30px;
                float: right;
            } 
            // dashboard
            .dashboard-top-item, .finance-item {
                border-radius: 8px;
                .top-item-icon {
                    i {
                        font-size: 60px;
                    }
                }
                .top-item-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    span:first-child {
                        font-size: 40px;
                    }
                    span:nth-child(3) {
                        font-size: 14px;
                    }
                    h4 {
                        margin-bottom: 1em;
                        font-size: 18px;
                    }
                }
            }
            .dashboard-container {
                .top_items, .middle_items, .bottom_items {
                    display: flex;
                    align-items: stretch;
                    flex-wrap: wrap;
                }
                .middle_items {
                    :nth-child(1) {
                        span {
                            background-color: #6299AB;
                        }
                    }
                    :nth-child(2) {
                        span {
                            background-color: #7553C1;
                        }
                    }
                    :nth-child(3) {
                        span {
                            background-color: #BD6D7C;
                        }
                    }
                }
                .dashboard-item-container {
                    float: left;
                    margin-top: 50px;
                    * {
                        color: #fff;
                    }
                    h4 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 16px;
                    }
                    .dashboard-top-item, .dashboard-middle-item, .dashboard-bottom-item>.top-header {
                        float: left;
                        background-color: $navy-blue;
                        width: 100%;
                        border-radius: 8px;
                        div.shapes-back-img {
                            background-image: url("/images/footer-background.png");
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            float: left;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: space-between;
                            align-items: center;
                            padding: 15px;
                        }
                    }
                    .dashboard-top-item {
                        .top-item-info {
                            > div {
                                a {
                                    font-size: 16px;
                                    background-color: $navy-purple;
                                    float: right;
                                    font-weight: normal;
                                    margin-bottom: 5px;
                                    transition: 0.4s;
                                    &:nth-child(1) {
                                        margin-left: 6px;
                                    }
                                    &:hover {
                                        background-color: $purple;
                                    }
                                }
                            }
                        }
                    }
                    .dashboard-middle-item {
                        min-height: 80px;
                        height: 100%;
                        > div {
                            > span {
                                font-size: 22px;
                                border-radius: 100%;
                                padding: 4px;
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            h4 {
                                margin: 0;
                            }
                        }
                    }
                    .dashboard-bottom-item {
                        .top-header {
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 0 !important;
                            border-bottom-right-radius: 0 !important;
                            > div {
                                justify-content: center !important;
                            }
                        }
                    }
                    ul.bottom-items {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li:nth-child(odd) {
                            background-color: #3C2A64;
                        }
                        li:nth-child(even) {
                            background-color: #422D6E;
                        }
                        li {
                            width: 100%;
                            float: left;
                            padding: 12px;
                            font-size: 16px;
                            a {
                                text-decoration: none;
                                color: #fff;
                                transition: 0.4s;
                                display: inline-block;
                                &:hover {
                                    color: $pink;
                                }
                            }
                        }
                    }
                }
            }
            // orders
            .activity-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .orders-filter {
                width: 100%;
                float: right;
                margin-bottom: 30px;
                h4 {
                    font-size: 16px;
                    float: right;
                    font-weight: bold;
                }
                .filter-items {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    list-style: none;
                    li {
                        text-align: center;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap;
                        margin: 0 0 15px 20px;
                        transition: 0.5s;
                        color: $gray;
                        &.active {
                            color: #000;
                            span {
                                transform: scale(1.3);
                            }
                        }
                        span {
                            position: relative;
                            width: 10px;
                            margin-right: 6px;
                            font-size: 15px;
                            transition: 0.5s;
                            &::before {
                                content: "";
                                float: left;
                                padding-top: 100%;
                            }
                        }
                    }
                    &.clickable {
                        li {
                            cursor: pointer;
                            &:hover {
                                color: #000;
                                span {
                                    transform: scale(1.3);
                                }
                            }
                        }
                    }
                }
            }
            .order-items-container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                float: right;
                width: 100%;
                > div {
                    padding: 10px;
                    border-radius: 8px;
                    box-shadow: 0 0 3px #DED8F2;
                    width: 22%;
                    margin: 1.5%;
                    div.order-title {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: right;
                        align-items: center;
                        height: 45px;
                        h4 {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        img {
                            background-image: url(/images/item-background.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100% 100%;
                            width: auto;
                            height: inherit;
                            margin-left: 8px;
                        }
                    }
                    ul.order-details {
                        width: 100%;
                        padding: 0;
                        margin: 12px 0 0;
                        list-style: none;
                        li {
                            font-size: 14px;
                            margin-top: 5px;
                            font-weight: bold;
                            span {
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }
                    }
                    > span {
                        font-size: 16px;
                        font-weight: bold;
                        display: inline-block;
                        width: 100%;
                        margin-top: 12px;
                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-left: 6px;
                            border-radius: 100px;
                        }
                        &.in_progress::before {
                            background-color: $peach;
                        }
                        &.waiting::before {
                            background-color: $horny-eggplant;
                        }
                        &.done::before {
                            background-color: $green;
                        }
                    }
                }
            }
            // finance
            a.purple-pill {
                font-size: 16px;
                background-color: $navy-purple;
                font-weight: normal;
                transition: 0.4s;
                &:hover {
                    background-color: $purple;
                }
            }
            .finance-info-section {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
                * {
                    color: #fff;
                }
                > div.finance-items-container {
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    > div.finance-item {
                        width: 47%;
                        height: 200px;
                        margin: 1.5%;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px;
                        .top-item-info {
                            span:nth-child(3) {
                                font-size: 14px;
                            }
                        }
                        &:nth-child(1) {
                            background-color: $dark-blue;
                            box-shadow: 0 0 6px $dark-blue;
                        }
                        &:nth-child(2) {
                            background-color: $green;
                            box-shadow: 0 0 6px $green;
                        }
                        &:nth-child(3) {
                            background-color: $peach;
                            box-shadow: 0 0 6px $peach;
                        }
                        &:nth-child(4) {
                            background-color: $horny-eggplant;
                            box-shadow: 0 0 6px $horny-eggplant;
                        }
                    }
                }
                > div.finance-quick-buttons {
                    width: 17%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 1.2%;
                    > div:first-child, > div:nth-child(2)>div {
                        border-radius: 8px;
                        background-color: $eggplant;
                        padding: 10px;
                        text-align: center;
                        box-shadow: 0 0 6px $eggplant;
                        * {
                            color: #fff;
                        }
                        h4 {
                            font-size: 15px;
                            margin-bottom: 12px;
                        }
                        span {
                            width: 100%;
                            display: inline-block;
                            margin-bottom: 25px;
                            i {
                                font-size: 60px;
                            }
                        }
                    }
                    > div:first-child {
                        height: 200px;
                        margin-bottom: 14%;
                        width: 100%;
                    }
                    > div:nth-child(2) {
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        > div {
                            height: 46%;
                            width: 100%;
                        }
                    }
                }
            }
            .userarea-table {
                border-radius: 8px;
                border: 2px solid #BAA8DE;
                width: fit-content !important;
                max-width: 100% !important;
                text-align: center;
                th {
                    border-top: none !important;
                }
                th, td {
                    border-color: #BAA8DE !important;
                }
                tr {
                    th:first-child, td:first-child {
                        border-right: none !important;
                    }
                    th:last-child, td:last-child {
                        border-left: none !important;
                    }
                }
                tbody {
                    a {
                        color: inherit;
                    }
                    tr:last-child {
                        td {
                            border-bottom: none !important;
                        }
                    }
                }
            }
            .ticket-container {
                > * {
                    width: 100%;
                }
                hr {
                    border-top: 3px solid #000;
                    margin-top: 0;
                }
                .ticket-top-nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    border-bottom: 3px solid #000;
                    padding: 8px;
                    text-align: center;
                    h4 {
                        font-size: 16px;
                        &:first-child {
                            margin-left: 15px;
                        }
                        span {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }    
                .ticket-messages {
                    height: 345px;
                    overflow-y: auto;
                    margin: 10px 0 10px 0;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        background-color: #F5F5F5;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background: linear-gradient(to bottom right, #ac7ff4, #8f60ec, #6232de);
                        background: -webkit-linear-gradient(to bottom right, #ac7ff4, #8f60ec, #6232de);
                    }
                    > div {
                        padding: 0 30px 0 30px;
                        > div {
                            width: 60%;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            align-items: stretch;
                            margin: 10px 0 10px 0;
                            .msg-meta {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                span {
                                    text-align: center;
                                    margin-bottom: 10px;
                                    color: #000;
                                    font-size: 16px;
                                }
                            }
                            .msg-content {
                                padding: 15px;
                                border-radius: 8px;
                                p {
                                    color: #000;
                                    font-size: 16px;
                                }
                            }
                            &.left-msg {
                                float: left;
                                flex-direction: row-reverse;
                                .msg-content {
                                    background-color: $horny-bg-msg;
                                    margin-left: 15px;
                                    // border-radius: 15px 15px 15px 0;
                                }
                            }
                            &.right-msg {
                                float: right;
                                .msg-content {
                                    background-color: $light-bg-msg;
                                    margin-right: 15px;
                                    // border-radius: 15px 15px 0 15px;
                                }
                            }
                        }
                    }
                }           
                .ticket-inputs {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: stretch;
                    flex-wrap: wrap;
                    height: 180px;
                    padding-top: 20px;
                    border-top: 3px solid #000;
                    .ticket-file-inputs {
                        width: 15%;
                        height: 100%;
                        > div {
                            width: 100%;
                            height: 46%;
                            margin-bottom: 8%;
                            box-shadow: 0 0 6px $milk;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            h4 {
                                font-size: 14px;
                                margin-bottom: 4px;
                            }
                            span {
                                font-size: 12px;
                            }
                            button {
                                font-size: 14px;
                                margin-top: 4px;
                            }
                        }
                    }
                    .ticket-text-input {
                        width: 83%;
                        margin-left: 2%;
                        height: 100%;
                        button {
                            font-size: 20px;
                            float: left;
                            height: 20%;
                        }
                        > div:nth-child(2) {
                            float: left;
                        }
                        > div.input-group {
                            height: 75%;
                            margin-bottom: 9px;
                            textarea {
                                height: 100%;
                                resize: none;
                                border-radius: 8px;
                                &::-webkit-scrollbar {
                                    width: 4px;
                                }
                                &::-webkit-scrollbar-track {
                                    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
                                    background-color: #fff;
                                    border-radius: 10px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    border-radius: 10px;
                                    background-color: #DED8F2;
                                }
                            }
                        }
                    }  
                }
            }
            // new ticekt
            .new-ticket-container {
                > div:first-child {
                    width: fit-content;
                }
                .msg-text-section {
                    margin: 10px 0 20px 0;
                    width: 100%;
                    float: left;
                    textarea {
                        height: 350px;
                        border-radius: 8px;
                        resize: none;
                        margin-bottom: 10px;
                    }
                    button {
                        font-size: 20px;
                        float: left;
                    }
                }
                .upload-boxes {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    > div {
                        box-shadow: 0 0 6px $milk;
                        border-radius: 8px;
                        height: 90px;
                        padding: 10px;
                    }
                    div:nth-child(1) {
                        width: 65%;
                    }
                    div:nth-child(2), div:nth-child(3) {
                        width: 16%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h4 {
                            font-size: 15px;
                        }
                        span {
                            font-size: 13px;
                        }
                        button {
                            font-size: 14px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            // tickets faq
            .ticekts-faq {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                > div {
                    width: 100%;
                    background-color: $light-bg-msg;
                    border-radius: 10px;
                    border: 2px solid $horny-bg-msg;
                    text-align: right;
                    padding: 8px 15px 8px 15px;
                    margin-bottom: 15px;
                    h4 {
                        font-size: 18px;
                        display: inline;
                    }
                    span {
                        margin-left: 20px;
                        i {
                            font-size: 20px;
                            color: #000;
                            cursor: pointer;
                            transition: 0.4s;
                            &:hover {
                                color: $pink;
                            }
                        }
                    }
                    p {
                        font-size: 16px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}