@font-face {
  font-family: "IranSansWeb";
  src: url(/fonts/IRANSansWeb.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p, span, button, a, ul, li, input, textarea, blockquote, label {
  font-family: "IranSansWeb";
}
div {
  font-family: "IranSansWeb";
}
cite::before {
  font-family: "IranSansWeb";
}
